cache/
artifacts/

coverage*
typechain/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

.DS_Store
Thumbs.db
node_modules/
deploy/
.env

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost

.dapp/
_lib/